.timer {
  grid-area: timer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  background-color: black;
  display: flex;
  max-height: 64px;
  justify-self: center;
  border-radius: 4px;
}

.timer span.container {
  background-image: url('./rs.png');
  background-size: 28px 80px;
  border-radius: 2px;
}

.timer span.inner {
  background-clip: text;
  background-color: red;
  background-image: radial-gradient(rgba(255,255,255,.9), rgba(255, 255, 10, 0.6));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}