.path {
  grid-area: path;
  background-color: yellow;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.path::-webkit-scrollbar {
  display: none;
}