:root {
  --from-to-padding: 1rem;
}

.from-to {
  display: flex;
  grid-area: from-to;
  justify-content: center;
  align-items: center;
  padding: var(--from-to-padding);
  gap: 1rem;
}

.from-to .arrow {
  font-size: 24px;
}