:root {
  --from-to-item-size: 200px;
  --from-to-item-img-zoom: 10px;
  --from-to-item-border-radius: 10px;
  --from-to-item-border-width: 3px;
  --from-to-item-opacity-start: 0.85;
  --from-to-item-p-padding: 0.5rem;
  --from-to-item-transition-time: 0.5s;
  --character-color: 0, 0, 155;
  --anime-color: 155, 0, 0;
}

.character {
  border-color: rgba(var(--character-color));
}
.anime {
  border-color: rgba(var(--anime-color));
}

.from-to-item {
  height: var(--from-to-item-size);
  width: var(--from-to-item-size);
  position: relative;
  overflow: hidden;
  border-radius: var(--from-to-item-border-radius);
  border-width: var(--from-to-item-border-width);
  border-style: solid;
}

.from-to-item img {
  width: calc(var(--from-to-item-size) + var(--from-to-item-img-zoom));
  height: calc(var(--from-to-item-size) + var(--from-to-item-img-zoom));
  left: calc(0px - var(--from-to-item-img-zoom) / 2);
  top: calc(0px - var(--from-to-item-img-zoom) / 2);
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.from-to-item p {
  position: absolute;
  left: 0;
  margin: 0;
  color: white;
  text-align: left;
  border-radius: calc(var(--from-to-item-border-radius) - var(--from-to-item-border-width));
  padding: var(--from-to-item-p-padding);
  padding-left: calc(var(--from-to-item-p-padding) + 4px);
  width: calc(100% - var(--from-to-item-p-padding)*2 - 4px);
}

.from-to-item p.status,
.from-to-item p.rank,
.from-to-item p.scored-by,
.from-to-item p.favorites {
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.from-to-item p.scored-by,
.from-to-item p.favorites {
  background: linear-gradient(to bottom, rgba(0, 0, 0, var(--from-to-item-opacity-start)) 45%, rgba(0, 0, 0, 0) 100%);
}

.from-to-item p.status,
.from-to-item p.rank {
  text-align: right;
}

.from-to-item p.status.green { color: green; }
.from-to-item p.status.red   { color: red; }
.from-to-item p.status.gray  { color: gray; }

.from-to-item p.rank {
  left: -16px
}

.from-to-item p.name,
.from-to-item p.title {
  bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, var(--from-to-item-opacity-start)) 45%, rgba(0, 0, 0, 0) 100%)
}

.from-to-item.character p.name,
.from-to-item.character p.title {
  background: linear-gradient(to top, rgba(var(--character-color), var(--from-to-item-opacity-start)) 45%, rgba(var(--character-color), 0) 100%)
}
.from-to-item.anime p.name,
.from-to-item.anime p.title {
  background: linear-gradient(to top, rgba(var(--anime-color), var(--from-to-item-opacity-start)) 45%, rgba(var(--anime-color), 0) 100%)
}

.pointer {
  cursor: pointer;
}

.from-to-item-container-container {
  position: relative;
  height: var(--from-to-item-size);
  width: var(--from-to-item-size);
}

.from-to-item-container {
  position: absolute;
}

.from-to-item.to-visible {
  transform: rotateY(0deg);
  transition: all var(--from-to-item-transition-time) ease-out;
  transition-delay: var(--from-to-item-transition-time);
  z-index: 1;
}

.from-to-item.to-invisible {
  transform: rotateY(90deg);
  transition: all var(--from-to-item-transition-time) ease-in;
  z-index: -1;
}