:root {
  --from-to-item-size: 200px;
  --from-to-item-transition-time: 0.5s;
}

.from-to-item-container-container {
  position: relative;
  height: var(--from-to-item-size);
  width: var(--from-to-item-size);
}

.from-to-item-container {
  position: absolute;
  height: var(--from-to-item-size);
  width: var(--from-to-item-size);
}

.from-to-item-container.to-visible {
  transform: rotateY(0deg);
  transition: all var(--from-to-item-transition-time) ease-out;
  transition-delay: var(--from-to-item-transition-time);
}

.from-to-item-container.to-invisible {
  transform: rotateY(90deg);
  transition: all var(--from-to-item-transition-time) ease-in;
}