.modal h3 {
  margin: 0;
}
.modal-footer-container {
  display: flex;
  justify-content: space-evenly;
}

h4 {
  text-align: center;
}

th,td {
  height: 30px;
  text-align: center;
  min-width: 120px;
}

table .last-10 {
  display: flex;
  gap: 2px;
  justify-content: center;
}

table .last-10 div {
  width: 10px;
  height: 10px;
}

table .last-10 div.red {
  background: red;
}

table .last-10 div.green {
  background: green;
}

.flex-center {
  display: flex;
  justify-content: center;
}